
{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard{% endblock %}


{% block content %}

<section class="faq-section">
    <div class="container">
      <div class="row">
                        <!-- ***** FAQ Start ***** -->
                        <div class="col-md-6 offset-md-3">
    
                            <div class="faq-title text-center pb-3">
                                <h2>Frequently Asked Questions
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-3">
                            <div class="faq" id="accordion">
                                <div class="card">
                                    <div class="card-header" id="faqHeading-1">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">1</span>
                                                What are the documents required for Joint Venture (JV) proposal?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                        <div class="card-body">
                                                <li>Company profile and scope of projects completed and/or in progress</li>
                                                <li>Company incorporation documents (MOA, AOA)</li>
                                                <li>Audited statement of financial position for the last 5 years</li>
                                                <li>Bank statement and FBR tax returns                                                </li>
                                                <li>Source of funds for the project</li>
                                                
                                        </div>
                                    </div>
                                </div>



                                <div class="card">
                                    <div class="card-header" id="faqHeading-2">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-2" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">2</span>
                                                What are the types of JV model?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                        <div class="card-body">
                                                <li>Inventory Sharing</li>
                                                <li>Net Profit Sharing</li>
                                                <li>Gross Revenue Sharing</li>
                                                <li>Concession Agreement</li>
                                                <li>Rent/License Agreement</li>
                                                <li>Hybrid Model</li>     
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header" id="faqHeading-3">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-3" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">3</span>
                                                What about financing Joint Ventures?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                        <div class="card-body">
                                                <li>Initially 25% of project finance will be invested by JV Partner/Investor from its own resources before start of sale. In case of variance in forecasted sales the shortfall in financing will be arranged by JV Partner/Investor.</li>
                                                <li>Pledge/mortgage of Project Land?</li>
                                                <li>Project land will not be pledged as collateral by JV Partner/Investor for seeking loan from banks or finance parties.</li>       
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header" id="faqHeading-4">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-4" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">4</span>
                                                What assets can be put into Joint Ventures?
                                        </div>
                                    </div>
                                    <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                        <div class="card-body">
                                                <li>DHA will invest land and JV Partner/Investor will be responsible for financial, technical, sales, marketing etc.</li>                                                    
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="card">
                                    <div class="card-header" id="faqHeading-5">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-5" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">5</span>
                                                What assets can be put into Joint Ventures?
                                        </div>
                                    </div>
                                    <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                        <div class="card-body">
                                                <li>DHA will invest land and JV Partner/Investor will be responsible for financial, technical, sales, marketing etc.</li>                                                    
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header" id="faqHeading-6">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-bs-toggle="collapse" data-bs-target="#faqCollapse-6" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">6</span>
                                                What will be the scope of joint ventures?                                        </div>
                                    </div>
                                    <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                                        <div class="card-body">
                                                <li>The joint ventures are open to all development/construction projects namely mixed used residential-cum-commercial high rise, hospitality, shopping malls, entertainment arenas, theme parks, community clubs, universities, hospital, schools etc</li>                                                    
                                                
                                                
                                                <li><b>Project Profit:</b> Preferred type of project profit will be in the form of inventory in development project.</li>                                                    
                                                <li><b>Payment of Utility Bills:</b> All utilities bills (electricity, gas, water etc) related to the project site will be paid by JV Partner/Investor.</li>                                                    
                                                                                                    
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
                    </div>
                    </section>

  {% endblock %}
