{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

      
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Firm Registration</h1>
                <div class="card">
                    <div class="card-body">
                        <form class="card" action="{% url 'register-firm' %}" method="post" id="firm-form">
                          {% csrf_token %}  
                          <div class="card-header">
                              <nav class="nav nav-pills nav-fill">
                                <a class="nav-link tab-pills" href="#">Company Details</a>
                                <a class="nav-link tab-pills" href="#">Personal Details</a>
                                <a class="nav-link tab-pills" href="#">POC Info</a>
                                <a class="nav-link tab-pills" href="#">Submit</a>
                              </nav>
                            </div>
                            <div class="card-body">
                              <div class="tab c d-none">
                                <div class="row">
                                  <div class="col-lg-6">
                                      <div class="mb-3">
                                        <label for="name" class="form-label">Firm Name</label>
                                        <input type="text" class="form-control" name="company_name" placeholder="Please enter firm name" required>
                                      </div>
                                  </div>
                                  
                                  <div class="col-lg-6">
                                      <div class="mb-3">
                                        <label for="email" class="form-label">NTN</label>
                                        <input type="email" class="form-control" name="company_ntn" placeholder="Please enter NTN number" required>
                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="name" class="form-label">Email</label>
                                      <input type="text" class="form-control" name="company_email" placeholder="Please enter email" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="email" class="form-label">Contact No</label><br>
                                      <input type="tel" class="form-control" name="company_phone_no" id="phone" placeholder="Company contact no" required>
                                      <input type="hidden" name="company_phone_no" id="full_phone">
                                    </div>
                                </div>
                            </div>

                              <div class="row">
                                      
                                      <div class="col-lg-6">
                                          <div class="mb-3">
                                              <label class="">Business Type</label>
                                                  <select class="form-select" name="business_type" aria-label="Default select example" required>
                                                      <option selected disabled>Select</option>
                                                      <option>Corporate Entity</option>
                                                      <option>Listed Company</option>
                                                      <option>Non Corporate Entity</option>
                                                      <option>Non Listed Company</option>
                                                      <option>Partnership</option>
                                                      <option>Sole Proprietorship</option>
                                                  </select>
                                              <!-- </div> -->

                                          </div>
                                      </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="name" class="form-label">Company Website</label>
                                      <input type="text" class="form-control" name="company_website" placeholder="website url">
                                    </div>
                                </div>
                            </div>
                          </div>
                  
                              </div>
                      
                              <div class="tab d-none">
                                <div class="row">
                                  <div class="col-lg-6">
                                      <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" name="owner_name" placeholder="Please enter name" required>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="mb-3">
                                        <label for="email" class="form-label">CNIC</label>
                                        <input type="radio" id="cnic_checkbox" name="id_type" value="cnic" checked> 
                                        <input type="radio" id="nic_checkbox" name="id_type" value="nic"> NIC
                                        <input type="text" class="form-control" id="owner_cnic" name="owner_cnic" placeholder="Please enter cnic" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="name" class="form-label">Owner Nationality</label>
                                      <label class="">Nationality</label>
                                            <select class="form-select" name="owner_nationality" aria-label="Default select example" required>
                                                {% include 'includes/city_names.html' %}
                                            </select>
                                    </div>
                                </div>
                                  <div class="col-lg-6">
                                      <div class="mb-3">
                                        <label for="name" class="form-label">Phone No</label>
                                        <input type="tel" class="form-control" name="owner_phone_no" id="personal_phone" placeholder="Please enter phone number" required>
                                        <input type="hidden" name="full_personal_phone" id="full_personal_phone">

                                      </div>
                                  </div>

                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="mb-3">
                                  <label for="owner_email" class="form-label">Email</label>
                                  <input type="text" class="form-control" name="owner_email"  placeholder="Please enter your email" required>
                                  </div>
                              </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="name" class="form-label">Address</label>
                                      <textarea name="owner_address" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>

                            </div>
                          </div>
                                
                              <div class="tab d-none">
                                <div class="row">
                                  <div class="col-lg-6">
                                      <div class="mb-3 form-check">
                                          <input type="checkbox" class="form-check-input" id="same_personal_info">
                                          <label class="form-check-label" for="same_personal_info"><span class="text-primary">Same info as personal details</span></label>
                                      </div>
                                  </div>
                              </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="company_name" class="form-label">POC (Point of Contact)</label>
                                            <input type="text" class="form-control" name="poc_name"  placeholder="Please enter poc" required>
                                        </div>
                                    </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                    <label for="company_name" class="form-label">POC Email</label>
                                    <input type="text" class="form-control" name="poc_email"  placeholder="Please enter poc email" required>
                                    </div>
                                </div>

                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="name" class="form-label">Address</label>
                                      <textarea name="poc_address" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                        <label for="company_name" class="form-label">Password</label>
                                        <input type="text" class="form-control" name="password" placeholder="Please enter password" required>
                                        </div>
                                    </div>
                                        <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="company_name" class="form-label">Confirm Password</label>
                                            <input type="text" class="form-control" name="confirm_password"  placeholder="Please enter cnfirm password" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                              <div class="tab d-none">
                                <!-- <h6>Please Review Your Changes and Click 'Submit' to Save the Property Listing</h3> -->

                                <p>All Set! Please submit to continue. Thank you</p>
                              </div>
                            </div>
                            <div class="card-footer text-end">
                              <div class="d-flex">
                                <button type="button" id="back_button" class="btn btn-link" onclick="back()">Back</button>
                                <button type="button" id="next_button" class="btn btn-primary ms-auto" onclick="next()">Next</button>
                              </div>
                            </div>
                          </form>
                    </div>
                </div>
            </div>

            
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->
</div>  

<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/register-firm.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  const cnicCheckbox = document.getElementById('cnic_checkbox');
  const nicCheckbox = document.getElementById('nic_checkbox');
  const cnicInput = document.getElementById('owner_cnic');

  function formatCnicNic(inputValue, isCnic) {
      const cleaned = inputValue.replace(/\D+/g, '');
      let formatted = '';

      if (isCnic) {
          if (cleaned.length > 0) {
              formatted += cleaned.substring(0, 5);
          }
          if (cleaned.length >= 6) {
              formatted += '-' + cleaned.substring(5, 12);
          }
          if (cleaned.length >= 13) {
              formatted += '-' + cleaned.substring(12, 13);
          }
      } else {
          if (cleaned.length > 0) {
              formatted += cleaned.substring(0, 6);
          }
          if (cleaned.length >= 7) {
              formatted += '-' + cleaned.substring(6, 12);
          }
          if (cleaned.length >= 13) {
              formatted += '-' + cleaned.substring(12, 13);
          }
      }

      return formatted;
  }

  cnicCheckbox.addEventListener('change', function () {
      if (cnicCheckbox.checked) {
          nicCheckbox.checked = false;
          cnicInput.value  = ""
      }
  });

  nicCheckbox.addEventListener('change', function () {
      if (nicCheckbox.checked) {
          cnicCheckbox.checked = false;
          cnicInput.value  = ""
      }
  });

  cnicInput.addEventListener('input', function (e) {
      const isCnic = cnicCheckbox.checked;
      const formattedValue = formatCnicNic(e.target.value, isCnic);
      cnicInput.value = formattedValue;
  });
});

</script>
{% endblock %}
