{% extends 'base.html' %}

{% block title %} Dashboard{% endblock %}

{% block content %}


<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-truncate font-size-14 mb-2">Total Properties</p>
                        <h4 class="mb-2">938</h4>
                        <!-- properties type name iwht count and progress bar -->
                        <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Residencial</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                17
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 50%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <!-- properties type name iwht count and progress bar -->
                        <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Commercial</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                10
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 30%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <!-- properties type name iwht count and progress bar -->
                        <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Semi Commercial</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                0
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 25%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- <p class="text-muted mb-0"><span class="text-danger fw-bold font-size-12 me-2"><i class="ri-arrow-right-down-line me-1 align-middle"></i>1.09%</span>from previous period</p> -->
                    </div>
                    
                    <div class="avatar-sm">
                        <span class="avatar-title bg-light text-success rounded-3">
                            <i class="fa fa-building text-primary font-size-24"></i>  
                        </span>
                    </div>
                </div>
                                                              
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
    
    <div class="col-xl-4 col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-truncate font-size-14 mb-2">Meeting Requests</p>
                        <h4 class="mb-2">2</h4>

                        <!-- properties type name iwht count and progress bar -->
                        <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Meeting Scheduled</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                1
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 50%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <!-- properties type name iwht count and progress bar -->
                        <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">In Progress</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                1
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 30%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <!-- properties type name iwht count and progress bar -->
                        <!-- <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Semi Commercial</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                0
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 25%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <p class="text-muted mb-0"><span class="text-danger fw-bold font-size-12 me-2"><i class="ri-arrow-right-down-line me-1 align-middle"></i>1.09%</span>from previous period</p> -->
                    </div>
                    
                    <div class="avatar-sm">
                        <span class="avatar-title bg-light text-success rounded-3">
                            <i class="fa fa-file-alt text-primary font-size-24"></i>  
                        </span>
                    </div>
                </div>
                                                              
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-4 col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-truncate font-size-14 mb-2">MOU's Requests</p>
                        <h4 class="mb-2">2</h4>
                        <!-- properties type name iwht count and progress bar -->
                        <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Approved</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                0
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 50%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <!-- properties type name iwht count and progress bar -->
                        <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Pending</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                2
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 30%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <!-- properties type name iwht count and progress bar -->
                        <!-- <div class="d-flex justify-content-between mt-3">
                            <div class="dashboard-cards-list-items">
                                <li><span class="text-gray font-weight-semibold font-size-13">Semi Commercial</span></li>
                            </div>
                            <div class="dashboard-list-items-count ml-5">
                                0
                            </div>
                        </div>
                        <div class="progress mb-3" style="height: 3px;">
                            <div class="progress-bar"  role="progressbar" style="width: 25%; background-color:#007bff !important" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <p class="text-muted mb-0"><span class="text-danger fw-bold font-size-12 me-2"><i class="ri-arrow-right-down-line me-1 align-middle"></i>1.09%</span>from previous period</p> -->
                    </div>
                    
                    <div class="avatar-sm">
                        <span class="avatar-title bg-light text-success rounded-3">
                            <i class="fa fa-handshake text-primary font-size-24"></i>  
                        </span>
                    </div>
                </div>
                                                              
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->    

</div><!-- end row -->

<div class="row mt-5 d-flex">
    <div class="col-lg-6">
        <div class="card" style="padding-bottom: 45px;">
            <div class="card-body">
                <h4 class="card-title mb-4">DHA Listing Stats</h4>
                
                <div id="pie_chart" class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="chart-wrapper">

                        <div class="card-body">
                            <h4 class="card-title">DHA Listing Stats</h4>
                            <div id="column_chart_datalabel" class="apex-charts m-0 p-0" dir="ltr"></div>
                        </div>
                
                     </div>
                    </div>
            </div>
        </div>
    

{% endblock %}