{% extends 'base.html' %}

{% block title %} Dashboard{% endblock %}

{% block content %}


<div class="d-flex justify-content-between mb-3">
  <div>
    <h2>Property List</h2>
  </div>
  <div>
  {% if user.role.role_name != 'Firms' %}
    <a href="{% url 'property-create' %}"><button class="btn btn-primary">Add New Property</button></a>
  {% endif %}
  </div>
</div>


<div id="property-list-container" data-url="{% url 'property-list' %}">

<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
    <tr>
        <th>Land Type</th>
        <th>Land For</th>
        <th>Available Land</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    </thead>


    <tbody>
      {% for property in object_list %}
        <tr>
            <td>{{property.land_type}}</td>
            <td>{{property.phase}}</td>
            <td>{{property.total_land}}</td>
            <td>{{property.land_unit}}</td>
            <td><a href="{% url 'property-detail' property.pk %}">View</a></td>
            
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}